:root {
  --sn-stylekit-neutral-color: #989898;
  --sn-stylekit-neutral-contrast-color: rgba(255, 255, 255, 0.600);

  --sn-stylekit-info-color: #d60808;
  --sn-stylekit-info-contrast-color: rgba(255, 255, 255, 0.600);

  --sn-stylekit-success-color: #2B9612;
  --sn-stylekit-success-contrast-color: rgba(255, 255, 255, 0.600);

  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: rgba(255, 255, 255, 0.600);

  --sn-stylekit-danger-color: #F80324;
  --sn-stylekit-danger-contrast-color: rgba(255, 255, 255, 0.600);

  --sn-stylekit-shadow-color: #C8C8C8;
  --sn-stylekit-background-color:rgba(255, 255, 255, 0.600);
  --sn-stylekit-border-color: #e3e3e3;
  --sn-stylekit-foreground-color: black;

  --sn-stylekit-contrast-background-color: #F6F6F6;
  --sn-stylekit-contrast-foreground-color: #2e2e2e;
  --sn-stylekit-contrast-border-color: #e3e3e3;

  --sn-stylekit-secondary-background-color: #F6F6F6;
  --sn-stylekit-secondary-foreground-color: #2e2e2e;
  --sn-stylekit-secondary-border-color: #e3e3e3;

  --sn-stylekit-secondary-contrast-background-color: #e3e3e3;
  --sn-stylekit-secondary-contrast-foreground-color: #2e2e2e;
  --sn-styleki--secondary-contrast-border-color: #a2a2a2;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: #454545;

  --sn-stylekit-input-placeholder-color: rgb(168, 168, 168);
  --sn-stylekit-input-border-color: #e3e3e3;

  --sn-stylekit-scrollbar-thumb-color: #dfdfdf;
  --sn-stylekit-scrollbar-track-border-color: #E7E7E7;

  --sn-stylekit-general-border-radius: 2px;

  --sn-stylekit-monospace-font: "Ubuntu Mono", courier, monospace;
  --sn-stylekit-sans-serif-font: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.CodeMirror .cm-formatting-list-ol, .cm-formatting-list-ul {
  color :  #b3021a;
  font-weight: bold;
}
.CodeMirror .cm-link, .cm-string {
  color: #b3626d;
}
.CodeMirror .cm-formatting-header, .cm-formatting-strong, .cm-formatting-em {
  color :  #F80324;
  opacity: 0.6;
}
.CodeMirror .cm-em {
  font-style: italic;
  color :  #cc3333;
}
.CodeMirror .cm-strong {
  font-weight: bold;
  color :  #b3021a;
}
.CodeMirror .cm-quote {
  color :  #00a12b;
  font-size: 0.9em;
  font-style: normal;
}
